{% extends 'bootstrap_base.html' %}


{% block main %}


    <div class="row">
        <div class="col-md-8">



            <h1>Grupa, którą utworzyłeś</h1>
            <p>Jestes zalogowany, jako {{ current_user }}</p>

            <p>Nazwa grupy: {{ group_name }}</p>



            <p>Uczestnicy grupy:</p>
            <div class="list-group">
            {% for member in members %}
                <a href="{% url 'member' group_name member.username %}" class="list-group-item">{{ member }}</a>
            {% endfor %}
            </div>

            <a class="btn btn-default btn-lg" href="{% url 'profile' %}" role="button">Główne Menu</a>
            <a class="btn btn-default btn-lg"  href="{% url 'add_member' group_name %}" role="button">Dodaj uczestnika</a>
            <a class="btn btn-danger btn-lg"  href="#" role="button">Usuń Grupę</a>



        </div>
    </div>

{% endblock %}