{% extends 'bootstrap_base.html' %}


{% block main %}


    <div class="row">
        <div class="col-md-8">



            <h1>Grupy</h1>
            <p>Jestes zalogowany, jako {{ current_user }}</p>

            {% if groups_created_by_current_user %}

                <p>Lista grup, które utworzyłes:</p>
                <div class="list-group">
                    {% for group in groups_created_by_current_user %}
                        <a href="{% url 'grupa:group_created' group %}" class="list-group-item">{{ group }}</a>

                    {% endfor %}
                </div>
            {% endif %}

            <p>Lista wszystkich grup, których jestes uczestnikiem:</p>
            <div class="list-group">
                {% for group in grupy %}
                    <a href="{% url 'grupa:group' group %}" class="list-group-item">{{ group }}</a>

                {% endfor %}
            </div>





            <a class="btn btn-default btn-lg" href="{% url 'baza:profile' %}" role="button">Główne Menu</a>
            <a class="btn btn-default btn-lg"  href="{% url 'grupa:nowa' %}" role="button">Utwórz Grupę</a>




        </div>
    </div>

{% endblock %}