{% extends 'bootstrap_base.html' %}


{% block main %}


    <div class="row">
        <div class="col-md-8">



            <h1>Zarządzanie grupą</h1>

            <p>Dodaj nowego uczestnika do grupy o nazwie {{ group_name }}</p>
            <form role="form"  method="post">
                <div class="form-group">
                    {% csrf_token %}
                    {{ form }}
                </div>
                <button type="submit" class="btn btn-default btn-lg" name="save">Dodaj</button>

            </form>



            <a class="btn btn-default btn-lg" href="{% url 'profile' %}" role="button">Główne Menu</a>





        </div>
    </div>

{% endblock %}