{% extends 'bootstrap_base.html' %}


{% block main %}


    <div class="row">
        <div class="col-lg-12">

            <h3>Zestawienie wszystkich przeglądów w kolejności terminów ważności.</h3>




            {% if overdue_objects %}
                <h1>PO TERMINIE !</h1>
                <p>Możliwe, że nie wpisano poprawnej daty po przedłużeniu ważności, ale dobrze by było spradzić poniższe terminy i urządzenia:</p>
                {% for object in overdue_objects %}
                    <p>{{ object.data_najblizszej_czynnosci }} -- {{ object.nazwa_urzadzenia }} -- {{ object.obiektk.nazwa }} -- {{ object.obiektk.miejsce.nazwa }}, {{ object.obiektk.miejsce.adres }}</p>
                {% endfor %}
            {% else %}
                <h4>Przeterminowane:</h4>
                <p>Ufff... Nie ma przeterminowanych.</p>
            {% endif %}
            <hr class="half-rule">


            <h4>Ten tydzień:</h4>
            {% if current_week_objects %}
                {% for object in current_week_objects %}
                    <p>{{ object.data_najblizszej_czynnosci }} -- {{ object.nazwa_urzadzenia }} -- {{ object.obiektk.nazwa }} -- {{ object.obiektk.miejsce.nazwa }}, {{ object.obiektk.miejsce.adres }}</p>
                {% endfor %}
            {% else %}
                <p>Nie kończy się żaden termin ważności w tym tygodniu.</p>
            {% endif %}
            <hr class="half-rule">


            <h4>Przyszły tydzień:</h4>
            {% if next_week_objects %}
                {% for object in next_week_objects %}
                    <p>{{ object.data_najblizszej_czynnosci }} -- {{ object.nazwa_urzadzenia }} -- {{ object.obiektk.nazwa }} -- {{ object.obiektk.miejsce.nazwa }}, {{ object.obiektk.miejsce.adres }}</p>
                {% endfor %}
            {% else %}
                <p>Brak przeglądów kończących się w przyszłym tygodniu.</p>
            {% endif %}
            <hr class="half-rule">


            <h4>Do końca miesiąca:</h4>
            {% if current_month_objects %}
                {% for object in current_month_objects %}
                    <p>{{ object.data_najblizszej_czynnosci }} -- {{ object.nazwa_urzadzenia }} -- {{ object.obiektk.nazwa }} -- {{ object.obiektk.miejsce.nazwa }}, {{ object.obiektk.miejsce.adres }}</p>
                {% endfor %}
            {% else %}
                <p>W tym miesiącu nie kończą się już żadne inne terminy.</p>
            {% endif %}
            <hr class="half-rule">



            <a class="btn btn-default btn-lg" href="{% url 'baza:profile' %}" role="button">Główne Menu</a>
        </div>
    </div>

{% endblock %}