{% extends 'bootstrap_base.html' %}


{% block main %}


    <div class="row">
        <div class="col-md-8">
            <h1>Archiwalny przegląd techniczny.</h1>
            <p>Data utworzenia: {{ object.created }}</p>
            <p>Data ostatniej modyfikacji: {{ object.modified }}</p>
            <p>Nazwa urzadzenia: {{ object.nazwa_urzadzenia }}</p>
            <p>Nr urzadzenia: {{ object.nr_urzadzenia }}</p>
            <p>Opis czynnosci: {{ object.opis_czynnosci }}</p>
            <p>Jednostka kontrolująca: {{ object.jednostka_kontrolujaca }}</p>
            <p>Data ostatniej czynnosci: {{ object.data_ostatniej_czynnosci }}</p>
            <p>Nr protokołu: {{ object.nr_protokolu }}</p>
            <p>Data najbliższej czynnosci: {{ object.data_najblizszej_czynnosci }}</p>
            <p>Osoba odpowiedzialna za nadzór: {{ object.osoba_odpowiedzialna_za_nadzor }}</p>
            <p>Uwagi: {{ object.uwagi }}</p>





            <a class="btn btn-default btn-lg" href="{% url 'baza:profile' %}" role="button">Główne Menu</a>
            <a class="btn btn-default btn-lg" href="{% url 'baza:archiwum-przeglad-delete' object.pk %}" role="button">Kasuj</a>



        </div>
    </div>

{% endblock %}

