{% extends 'bootstrap_base.html' %}


{% block main %}

    <section id="obiekt">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    {% include '_obiekt.html' %}
                </div>
            </div>
        </div>
    </section>



    <section id="dopuszczenia">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    {% include '_dopuszczenia.html' %}
                </div>
            </div>
        </div>
    </section>



     <section id="legalizacje">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    {% include '_legalizacje.html' %}
                </div>
            </div>
        </div>
    </section>



{% endblock %}

