{% extends 'bootstrap_base.html' %}


{% block main  %}


    <div class="row">
        <div class="col-md-8">

            {% block cododac %}
            
            {% endblock %}

            <form role="form"  method="post">
                <div class="form-group">
                    {% csrf_token %}
                    {{ form }}
                </div>
                <button type="submit" class="btn btn-default btn-lg" name="save">Zapisz</button>
                <button type="submit" class="btn btn-default btn-lg btn-danger" name="delete">Usun</button>

            </form>          
        </div>
    </div>

{% endblock %}


