{% extends 'bootstrap_base.html' %}


{% block main %}

  <div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <h1>Dopuszczenie / legalizacja.</h1>
            <p>Data utworzenia: {{ object.created }}</p>
            <p>Data ostatniej modyfikacji: {{ object.modified }}</p>
            <p>Nazwa urzadzenia: {{ object.nazwa_urzadzenia }}</p>
            <p>Nr urzadzenia: {{ object.nr_urzadzenia }}</p>
            <p>Opis czynnosci: {{ object.opis_czynnosci }}</p>
            <p>Jednostka dozorowa: {{ object.jdenostka_dozorowa }}</p>
            <p>Data ostatniej czynnosci: {{ object.data_ostatniej_czynnosci }}</p>
            <p>Nr decyzji: {{object.nr_decyzji }}</p>
            <p>Data najbliższej czynnosci: {{ object.data_najblizszej_czynnosci }}</p>
            <p>Osoba odpowiedzialna za nadzór: {{ object.osoba_odpowiedzialna_za_nadzor }}</p>
            <p>Uwagi: {{ object.uwagi }}</p>
            <a class="btn btn-danger btn-lg" href="{% url 'baza:edytuj_dopuszczenie' object.id %}" role="button">Zmień dopuszczenie</a>
            <h2>Zadania:</h2>
            {% if zadania %}
              {% for zadanie in zadania %}
                <p>jest zadanie</p>
              {% endfor %}
              <a class="btn btn-danger btn-lg" href="#" role="button">Zmień zadania</a>
            {% else %}
              <p>Brak zadań</p>
            {% endif %}
            <a class="btn btn-success btn-lg" href="{% url 'zadania:create' object.id %}" role="button">Dodaj zadanie</a>
            <br><br>
            <a class="btn btn-default btn-lg" href="{% url 'baza:profile' %}" role="button">Główne Menu</a>
        </div>

    </div>
  </div>

{% endblock %}