{% extends 'bootstrap_base.html' %}


{% block main %}


    <div class="row">
        <div class="col-md-8">



            <h2>Lista wszystkich obiektów</h2>
            <h4>zlokalizowanych na terenie: {{ miejsce.nazwa }}, {{ miejsce.adres }}</h4>



            <div class="list-group">
                {% for obiekt in obiekty %}

                <a href="{% url 'baza:obiekt' miejsce.id obiekt.id %}" class="list-group-item">{{ obiekt.nazwa }}</a>

                {% endfor %}
            </div>





            <a class="btn btn-default btn-lg" href="{% url 'baza:profile' %}" role="button">Główne Menu</a>
            <a class="btn btn-default btn-lg"  href="{% url 'baza:dodaj_obiekt' miejsce.id %}" role="button">Dodaj nowy obiekt</a>
            <a class="btn btn-danger btn-lg"  href="{% url 'baza:edytuj_miejsce' miejsce.id %}" role="button">Edytuj {{ miejsce.nazwa }}</a>





        </div>
    </div>

{% endblock %}

