{% extends 'bootstrap_base.html' %}


{% block main %}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center">
                <h2>{{ obiekt.nazwa }}</h2>
                <h4>zlokalizowany na terenie {{ miejsce.nazwa }}</h4>
            </div>
            <h2>Dopuszczenia i Legalizacje:</h2>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td>Nazwa urzadzenia</td>
                        <td>Nr urzadzenia</td>
                        <td>Opis czynnosci</td>
                        <td>Jednostka dozorowa</td>
                        <td>Data ostatniej czynnosci</td>
                        <td>Nr decyzji</td>
                        <td>Data najblizszej czynnosci</td>
                        <td>Osoba odpowiedzialna za nadzor</td>
                        <td>Uwagi</td>
                    </tr>
                </thead>
                <tbody>
                    {% for dopuszczenie in dopuszczenia %}
                        
                        <tr class="clickable_row" data-url="{% url 'profile' %}">
                            <td>{{ dopuszczenie.nazwa_urzadzenia }}</td>
                            <td>{{ dopuszczenie.nr_urzadzenia }}</td>
                            <td>{{ dopuszczenie.opis_czynnosci }}</td>
                            <td>{{ dopuszczenie.jednostka_dozorowa }}</td>
                            <td>{{ dopuszczenie.data_ostatniej_czynnosci }}</td>
                            <td>{{ dopuszczenie.nr_decyzji }}</td>
                            <td>{{ dopuszczenie.data_najblizszej_czynnosci }}</td>
                            <td>{{ dopuszczenie.osoba_odpowiedzialna_za_nadzor }}</td>
                            <td>{{ dopuszczenie.uwagi }}</td>
                        </tr>
                       
                     {% endfor %}
                </tbody>
            </table>

            
            <a class="btn btn-default btn-lg"  href="{% url 'dodaj_dopuszczenie' miejsce.id obiekt.id %}" role="button">Dodaj nowe dopuszczenia i legalizacje</a>
            <h2>Przeglądy techniczne</h2>
            <table class="table table-hover">



            </table>
            <a class="btn btn-default btn-lg"  href="#" role="button">Dodaj nowy przegląd techniczny</a>

            
            <a class="btn btn-default btn-lg" href="{% url 'profile' %}" role="button">Główne Menu</a>
        </div>
    </div>
</div>
{% endblock %}

