{% extends 'bootstrap_base.html' %}


{% block main %}


    <div class="row">
        <div class="col-lg-12">

            <h2>{{ obiekt.nazwa }}</h2>
            <h4>{{ miejsce.nazwa }}, {{ miejsce.adres }}.</h4>
            <hr class="half-rule">




            <h2>Dane techniczne:</h2>
            <table class="table table-hover">
                <tr class="clickable_row" data-url="{% url 'edytuj_obiekt' obiekt.id %}">
                    <td>{{ obiekt.dane_techniczne }}</td>
                </tr>
            </table>
            <hr class=half-rule">




            <h2>Dopuszczenia i Legalizacje:</h2>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td>Nazwa urządzenia</td>
                        <td>Nr urządzenia</td>
                        <td>Opis czynności</td>
                        <td>Jednostka dozorowa</td>
                        <td>Data ostatniej czynności</td>
                        <td>Nr decyzji</td>
                        <td>Data najbliższej czynności</td>
                        <td>Osoba odpowiedzialna za nadzór</td>
                        <td>Uwagi</td>
                    </tr>
                </thead>
                <tbody>
                    {% for dopuszczenie in dopuszczenia %}
                        
                        <tr class="clickable_row" data-url="{% url 'edytuj_dopuszczenie' dopuszczenie.id %}">
                            <td>{{ dopuszczenie.nazwa_urzadzenia }}</td>
                            <td>{{ dopuszczenie.nr_urzadzenia }}</td>
                            <td>{{ dopuszczenie.opis_czynnosci }}</td>
                            <td>{{ dopuszczenie.jednostka_dozorowa }}</td>
                            <td>{{ dopuszczenie.data_ostatniej_czynnosci }}</td>
                            <td>{{ dopuszczenie.nr_decyzji }}</td>
                            <td>{{ dopuszczenie.data_najblizszej_czynnosci }}</td>
                            <td>{{ dopuszczenie.osoba_odpowiedzialna_za_nadzor }}</td>
                            <td>{{ dopuszczenie.uwagi }}</td>
                        </tr>
                       
                     {% endfor %}
                </tbody>
            </table>

            
            <a class="btn btn-default btn-lg"  href="{% url 'dodaj_dopuszczenie' miejsce.id obiekt.id %}" role="button">Dodaj nowe dopuszczenia i legalizacje</a>





            <h2>Przeglądy techniczne</h2>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td>Nazwa urządzenia</td>
                        <td>Nr urządzenia</td>
                        <td>Opis czynności</td>
                        <td>Jednostka kontrolująca</td>
                        <td>Data ostatniej czynności</td>
                        <td>Nr protokołu</td>
                        <td>Data najbliższej czynności</td>
                        <td>Osoba odpowiedzialna za nadzór</td>
                        <td>Uwagi</td>
                    </tr>
                </thead>
                <tbody>
                    {% for przeglad in przeglady %}
                        
                        <tr class="clickable_row" data-url="{% url 'profile' %}">
                            <td>{{ przeglad.nazwa_urzadzenia }}</td>
                            <td>{{ przeglad.nr_urzadzenia }}</td>
                            <td>{{ przeglad.opis_czynnosci }}</td>
                            <td>{{ przeglad.jednostka_kontrolujaca }}</td>
                            <td>{{ przeglad.data_ostatniej_czynnosci }}</td>
                            <td>{{ przeglad.nr_protokolu }}</td>
                            <td>{{ przeglad.data_najblizszej_czynnosci }}</td>
                            <td>{{ przeglad.osoba_odpowiedzialna_za_nadzor }}</td>
                            <td>{{ przeglad.uwagi }}</td>
                        </tr>
                       
                     {% endfor %}
                </tbody>



            </table>
            <a class="btn btn-default btn-lg"  href="{% url 'dodaj_przeglad' miejsce.id obiekt.id %}" role="button">Dodaj nowy przegląd techniczny</a>

            
            <a class="btn btn-default btn-lg" href="{% url 'profile' %}" role="button">Główne Menu</a>
        </div>
    </div>

{% endblock %}

