{% extends 'bootstrap_base.html' %}


{% block main %}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="text-center">
                <h2>{{ obiekt.nazwa }}</h2>
                <h4>zlokalizowany na terenie {{ miejsce.nazwa }}</h4>
            </div>
            <h2>Dopuszczenia i Legalizacje</h2>
            {% for dopuszczenie in dopuszczenia %}
                <p>{{ dopuszczenie.nazwa_urzadzenia }}</p>
            {% endfor %}
            <table class="table table-hover">
                {% for dopuszczenie in dopuszczenia %}
                {{ dopuszczenie.nazwa }}
                {% endfor %}


            </table>
            <a class="btn btn-default btn-lg"  href="{% url 'dodaj_dopuszczenie' miejsce.id obiekt.id %}" role="button">Dodaj nowe dopuszczenia i legalizacje</a>
            <h2>Przeglądy techniczne</h2>
            <table class="table table-hover">



            </table>
            <a class="btn btn-default btn-lg"  href="#" role="button">Dodaj nowy przegląd techniczny</a>

            
            <a class="btn btn-default btn-lg" href='/profile/' role="button">Główne Menu</a>
        </div>
    </div>
</div>
{% endblock %}

