{% extends 'base.html' %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-4 col-lg-6 col-lg-offset-3">
            <h2 class="text-center">Menu</h2>
            <p>
            <div class="dropdown">
                <button class="btn btn-primary btn-lg btn-block dropdown-toggle" type="button" data-toggle="dropdown">Dodaj / Nowy
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="/dodajobiekt/">Obiekt</a></li>
                    <li><a href="/dodajurzadzenie/">Urzadzenie</a></li>
                    <li><a href="#">Dokument</a></li>
                </ul>
            </div>
            </p>
            <p>
            <div class="dropdown">
                <button class="btn btn-primary btn-lg btn-block dropdown-toggle" type="button" data-toggle="dropdown">Szukaj / Przegladaj
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="/szukajobiekt/">Obiekt</a></li>
                    <li><a href="/szukajurzadzenie/">Urzadzenie</a></li>
                    <li><a href="#">Dokument</a></li>
                </ul>
             </div>
             </p>
             <p>
             <div class="dropdown">
                <button class="btn btn-primary btn-lg btn-block dropdown-toggle" type="button" data-toggle="dropdown">Raporty
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Obiekt</a></li>
                    <li><a href="#">Urzadzenie</a></li>
                    <li><a href="#">Dokument</a></li>
                </ul>
            </div>
            </p>
        </div>
    </div>
</div>
{% endblock %}


