{% extends 'bootstrap_base.html' %}


{% block main %}


    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">



            <h2 class="text-center">Menu</h2>



            <a class="btn btn-default btn-lg btn-block" href="{% url 'miejsca' miejsca='magazyn' %}" role="button">Magazyny paliw</a>
            <a class="btn btn-default btn-lg btn-block" href="{% url 'miejsca' miejsca='stacja' %}" role="button">Stacje paliw</a>
            <a class="btn btn-default btn-lg btn-block" href="{% url 'miejsca' miejsca='budynek' %}" role="button">Budynki</a>
            <a class="btn btn-default btn-lg btn-block" href="{% url 'grupa' %}" role="button">Grupa</a>







        </div>
    </div>


{% endblock %}


