{% extends 'base.html' %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-4 col-lg-6 col-lg-offset-3">
            <h2 class="text-center">Szukaj Obiektu</h2>
            <form role="form"  method="post">
                <div class="form-group">
                    {% csrf_token %}
                    {{ form }}
                </div>
                <button type="submit" class="btn btn-default btn-lg btn-block">Dalej</button>
            </form>          
        </div>
    </div>
</div>
{% endblock %}


