.home_main {
    background-color: orange;
    height: 100vh; 


}

.home_app_description{
    position: relative;
    top: 40%;
    text-align: center;
    
}

.home_login_register_buttons {
    padding-top: 30px;
    
}
