.home_main {
    background-color: orange;
    height: 100vh;
    margin-left: -15px;
    margin-right: -15px;
    padding: 0px;


}

.home_app_description {
    position: relative;
    overflow: hidden;
    top: 35%;
    text-align: center;

}




.home_login_register_buttons {
    padding: 30px;

}


.home_link {
    color: red;


}



