.home_main {
    background-color: orange;
    height: 100vh;
    margin-top: -20px;
    margin-left: -20px;
    padding-right: 0px;

}

.home_app_description {
    position: relative;
    top: 35%;
    text-align: center;

}

.home_login_register_buttons {
    padding: 30px;

}


.home_link {
    color: red;


}

.allauth_background {
    background-color: blue;
}
