Zestawienie wszystkich przeglądów w kolejności terminów ważności.
{% if overdue_objects %}
PO TERMINIE !
Możliwe, że nie wpisano poprawnej daty po przedłużeniu ważności, ale dobrze by było spradzić poniższe terminy i urządzenia:
{% for object in overdue_objects %}
{{ object.data_najblizszej_czynnosci|date:"j m Y" }} -- {{ object.nazwa_urzadzenia }} -- {{ object.obiektk.nazwa }} -- {{ object.obiektk.miejsce.nazwa }}, {{ object.obiektk.miejsce.adres }}
{% endfor %}
{% else %}
Przeterminowane:
Ufff... Nie ma przeterminowanych.
{% endif %}

Ten tydzień:
{% if current_week_objects %}
{% for object in current_week_objects %}
{{ object.data_najblizszej_czynnosci|date:"j m Y" }} -- {{ object.nazwa_urzadzenia }} -- {{ object.obiektk.nazwa }} -- {{ object.obiektk.miejsce.nazwa }}, {{ object.obiektk.miejsce.adres }}
{% endfor %}
{% else %}
Nie kończy się żaden termin ważności w tym tygodniu.
{% endif %}

Przyszły tydzień:
{% if next_week_objects %}
{% for object in next_week_objects %}
{{ object.data_najblizszej_czynnosci|date:"j m Y" }} -- {{ object.nazwa_urzadzenia }} -- {{ object.obiektk.nazwa }} -- {{ object.obiektk.miejsce.nazwa }}, {{ object.obiektk.miejsce.adres }}
{% endfor %}
{% else %}
Brak przeglądów kończących się w przyszłym tygodniu.
{% endif %}

Do końca miesiąca:
{% if current_month_objects %}
{% for object in current_month_objects %}
{{ object.data_najblizszej_czynnosci|date:"j m Y" }} -- {{ object.nazwa_urzadzenia }} -- {{ object.obiektk.nazwa }} -- {{ object.obiektk.miejsce.nazwa }}, {{ object.obiektk.miejsce.adres }}
{% endfor %}
{% else %}
W tym miesiącu nie kończą się już żadne inne terminy.
{% endif %}

